@model PruebaFinal.Models.Actividades
@{
    
    ViewData["Title"] = "Edit Actividades";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
<form asp-action="Edit" method="post" >
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label for="DurecionLlamada">Durecion Llamada</label>
                <input type="text" class="form-control" asp-for="DurecionLlamada">
            </div>
        </div>
        
        <div class="col-4">
            <div class="form-group">
                <label for="Descricion">Descricion</label>
                <input type="text" class="form-control" asp-for="Descricion">
            </div>
        </div>
        
        <div class="col-4">
            <div class="form-group">
                <label for="Resolvio">Resolvio</label>
                <select class="form-control" asp-for="Resolvio">
                    <option>Seleccionar </option>
                    <option value="0">Resolvio</option>
                    <option value="1">Pendiente de respuesta </option>

                </select>
            </div>
        </div>
        
        <div class="col-12">
            <div class="form-group">
                <label for="IdTipo">Tipo de solicitud</label>
                <select asp-for="IdTipo" asp-items="ViewBag.tipos" class="form-control">
                    <option>Seleccionar</option>
                </select>
            </div>
        </div>
       <center>
         <input type="hidden" asp-for="Id">
         <input type="submit" value="Guardar" class="btn btn-info"></center>
    </div>
     
</form>